MONGODB_URI=mongodb://localhost:27017/

# ! Optional providers (set the ones you use)
OPENAI_API_KEY=''
ANTHROPIC_API_KEY=''
GOOGLE_GENERATIVE_AI_API_KEY='AIzaSyASjGiofeOaejy2fFmmPf2I7hTMH918OuU'

OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=qwen2.5:7b
